{{!< default}}

<div id="content" class="container">
	<div class="error-title">
	    <h1>{{statusCode}}</h1>
	    <p>{{message}}</p>
		{{#if errorDetails}}
		<section class="error-stack">
			<h3>Theme errors</h3>
			<ul class="error-stack-list">
				{{#foreach errorDetails}}
				<li>
					<em class="error-stack-function">{{{rule}}}</em>

					{{#foreach failures}}
					<p><span class="error-stack-file">Ref: {{ref}}</span></p>
					<p><span class="error-stack-file">Message: {{message}}</span></p>
					{{/foreach}}
				</li>
				{{/foreach}}
			</ul>
		</section>
		{{/if}}
	</div>
</div>