{{!-- The tag below means - insert everything in this file into the {body} of the default.hbs template --}}
{{!< default}}

{{#tag}}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <section class="tag">
                    <h1 class="post-title">{{name}}</h1>
                    <p>
                        {{#if description}}
                            {{description}}
                        {{else}}
                            {{plural ../pagination.total empty=(t "A collection of posts") singular=(t "A collection of 1 post") plural=(t "A collection of % posts")}}
                        {{/if}}
                    </p>
                </section>
            </div>
        </div>
    </div>
{{/tag}}

{{!-- The main content area --}}
<main id="content" class="container" role="main">
    <div class="row loop">
        {{#foreach posts}}
            <div class="col-md-6 col-lg-4 {{#if @first}}first{{/if}} item">
                {{> "loop"}}
            </div>
        {{/foreach}}
    </div>
</main>
{{pagination}}