<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
			{{!-- Load more button - Visible only if it's enabled in main.js --}}
			<a href="#" id="load-posts" data-posts_per_page="{{@config.posts_per_page}}" class="hidden btn">Load more posts</a>

			{{!-- Pagination --}}
			<nav class="pagination" role="navigation">
				<hr>
				<div class="row">
					<div class="col-4 text-left">
					    {{#if prev}}
					        <a class="newer-posts btn" href="{{page_url prev}}"><i class="fas fa-angle-left"></i>Newer</a>
					    {{/if}}
					</div>
					<div class="col-4">
			    		<span class="page-number">{{page}} of {{pages}}</span>
					</div>
					<div class="col-4 text-right">
					    {{#if next}}
					        <a class="older-posts btn" href="{{page_url next}}">Older <i class="fas fa-angle-right"></i></a>
					    {{/if}}
					</div>
				</div>
			</nav>
		</div>
	</div>
</div>